* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body,
button,
textarea,
.textarea__input,
pre {
    font-family: 'fakt-web', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

pre {
    margin: 0;
    -webkit-user-modify: none;
    overflow-wrap: break-word;
    -webkit-line-break: none;
}

.container {
    margin: auto;
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    overflow: hidden;
}


.info {
    padding: 15px;
    background-color: #fff7c9;
    margin: 0 0 40px 0;
    text-align: center;
}

.info__strong {
    color: #786600;
}

.selections {
    display: flex;
    justify-content: center;
}

.algorithm {
    text-align: center;
}

.algorithm__span {
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}

.algorithm__select {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.algorithm__select--custom-arrow {
    border-radius: 5px;
    height: 38px;
    width: 132px;
    padding: 0px 10px;
    font-size: 12px;
    border: 1px solid #d8d8d8;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://img.icons8.com/android/24/000000/expand-arrow.png) 90% / 15% no-repeat;
}

/* Remove default arrow in Internet Explorer 10 and 11 */
.algorithm__select--custom-arrow::-ms-expand {
    display: none;
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .algorithm__select--custom-arrow {
        background: none\9;
        padding: 5px\9;
    }
}

.code {
    margin-top: 30px;
}

.comm-process,
.tab-content {
    margin-bottom: 20px;
    overflow: auto;
    width: auto;
    display: block;
}

@media (min-width:768px) {
    .tab-content {
        zoom: 1;
        width: auto;
        margin-right: -30px;
        display: flex;
    }


    div.comm-process>div:nth-child(2) {
        padding-left: 15px;
    }
}



.comm-process__a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-bottom: 5px;
    cursor: pointer;
}

@media (min-width:768px) {
    .comm-process__a {
        font-size: 28px;
        padding-bottom: 0;
        cursor: default;
    }
}

.comm-process__small {
    color: #979797;
    font-size: 11px;
    display: none;
}

@media (min-width:992px) {
    .comm-process__small {
        display: inline-block;
    }
}

.comm-process__title,
.share__text,
.btn-wrap {
    text-align: left;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.box-content {
    display: flex;
    height: 0;
    overflow: hidden;
}

@media (min-width:768px) {
    .box-content {
        float: left;
        width: 50%;
        padding-right: 30px;
        height: auto;
    }
}

.js-box-content--current {
    height: auto;
}

.comm-process__title {
    text-align: center;
    padding-right: 0;
}

@media (min-width:768px) {
    .comm-process__title {
        text-align: left;
    }
}

.js-comm-process--current {
    padding-bottom: 5px;
    border-bottom: 6px solid #fb015b;
}

.textarea__input {
    padding: 10px;
    height: 95%;
}

.textarea__input textarea {
    border: none;
    overflow: auto;
    outline: none;

    font-size: 20px;
    color: #d63aff;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    /*remove the resize handle on the bottom right*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.output {
    border: 1px solid #979797;
    width: 100%;
}

@media (max-width:768px) {
    .textarea__input {
        height: 400px;
    }
}

.output__p {
    margin: 0;
    color: black;
    font-size: 12px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    line-height: 2.5;
    padding: 0 10px;
}

.output__p-no-border-top {
    border-top: none;
}

.jwt-header span,
.jwt-payload span {
    font-size: 10px;
    color: #979797;
    margin-left: 5px;
}

.jwt-header__precode,
.jwt-payload__precode,
.jwt-security__precode {
    line-height: 1.8;
    font-size: 16px;
    color: #d63aff;
}

.jwt-security__precode {
    background: #f5f5f5;
}

.jwt-header__code,
.jwt-payload__code,
.jwt-security__code {
    padding: 20px;
}

.share__text {
    color: gray;
    font-size: 30px;
    padding-top: 6px;
}

@media (max-width:768px) {
    .share__text {
        font-size: 22px;
        padding-top: 11px;
    }
}

.js-share__text--wrong {
    color: orange;
}

.js-share__text--invalid {
    color: #FF0000;
}

.js-share__text--correct {
    color: #00B9F1;
}


.share {
    overflow: auto;
}

.btn-wrap {
    padding-left: 15px;
}

.btn-wrap__btn {
    height: 50px;
    width: 100%;
    background-color: #00b9f1;
    color: white;
    border-color: #00b9f1;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.btn-wrap__btn:active,
.btn-wrap__btn:hover {
    background-color: #33c2ee;
}

.btn-wrap__span {
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: bolder;
    white-space: nowrap;
}

@media (max-width:768px) {
    .btn-wrap__span {
        font-size: 14px;
    }
}