html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'fakt-web', "Helvetica Neue", Helvetica, Arial, sans-serif
}

.container {
    margin: auto;
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    border: 3px solid black;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.info {
    padding: 15px;
    background-color: #fff7c9;
    margin: 0 0 40px 0;
}

.info strong {
    color: #786600;
}

.selections {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.algorithm {
    text-align: center;
}

.algorithm__span {
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}

.algorithm__select {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.algorithm__select--custom-arrow {
    border-radius: 5px;
    height: 38px;
    width: 112px;
    padding: 0px 10px;
    font-size: 12px;
    border: 1px solid #d8d8d8;
    
    /* Custom arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://img.icons8.com/android/24/000000/expand-arrow.png) 90% / 15% no-repeat;
}

/* Remove default arrow in Internet Explorer 10 and 11 */
.algorithm__select--custom-arrow::-ms-expand {
    display: none;
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .algorithm__select--custom-arrow {
        background: none\9;
        padding: 5px\9;
    }
}

.code {
    margin-bottom: 30px;
}

.comm-process,
.tab-content {
    padding-bottom: 30px;
    /* Parent same height as children */
    overflow: auto; 
    border: 1px solid green;
}

.comm-process .comm-process__title a {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

.comm-process .comm-process__title a small {
    color: #979797;
    font-size: 12px;
}

.comm-process .comm-process__title,
.tab-content .box-content {
    text-align: left;
    float: left;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}

.tab-content .textareaContainer .input{
    padding: 20px;
    /* border-width: 0; */
    border: 1px solid red;
}

.tab-content .box-content .input textarea {
    /* border-width: 0; */
    margin: 0;
    padding: 0;
    width: 100%;
}

/* .jwtResponseContainer {
    border: 1px solid red;
} */
/* 
.jwtResponseContainer>* {
    border: 1px solid blue;
} */

.output {
    border: 1px solid red;
}

.output p {
    margin: 0;
    color: black;
    font-size: 12px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    line-height: 2.5;
    padding: 0 10px;
}

/* should be a class modifier __p-no-border-top */
.output .jwt-header p {
    border-top: none;
}

.output span {
    font-size: 10px;
    color: #979797;
    margin-left: 5px;
}